@use "../../global.scss" as globalStyles;

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background-color: globalStyles.$dark-blue;
    border-radius: 25px;
}