input[type=submit] {
    visibility: collapse;
}

.textareaholder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    border: 0;
    outline: none;
    height: 30px;
    font-size: 25px;
    padding-left: 20px;
    width: calc(100vw - 100px);
    border-radius: 15px;
    resize:none;
}