@use "../../global.scss" as globalStyles;

.dialog{
    display: flex;
    flex-direction: row;
    border: 0;
    border-bottom: 1px solid;
    border-color: globalStyles.$dark-blue-transperent;
    height:60px;
    background-color: globalStyles.$light-blue;
    color:globalStyles.$dark-blue;
    transition: background-color 0.5s, color 0.5s;
}

.dialog:hover{
    background-color: globalStyles.$dark-blue;
    color: globalStyles.$light-blue;
}

.dialogHead {
    display: flex;
    width: calc(100vw - 80px);
    flex-direction: row;
    justify-content: space-between;
    border: 0px;
}

.dialogOwner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 22px;
}

.dialogTime{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.dialogLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    min-width: 57px;
    border: 0px;
}

.dialogRight{
    display: flex;
    flex-direction: column;
    height: 47px;
    justify-content: space-between;
    border: 0px;
}

.dialogText{
    display: flex;
    border: 0px;
    max-width: 50vw;
    overflow: hidden;
}