@use "../../global.scss" as globalStyles;

.messageL {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    justify-content: end;
    width: fit-content;
    background-color: globalStyles.$dark-blue;
    max-width: 70vw;
}

.messageR {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: flex-end;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    background-color: globalStyles.$dark-blue;
    max-width: 70vw;
}

.messageText {
    display: inline-block;
    color:aliceblue;
    width: fit-content;
    max-width: 69vw;
    min-width: 70px;
    word-wrap: break-word;
}

.messageHead {
    display: flex;
    justify-content: space-between;
    padding: 2px 2px 2px 2px;
    max-width: 70vw;
}

.messageTime {
    display: flex;
    align-self: center;
    color:globalStyles.$light-blue;
    width: fit-content;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.messageOwner {
    display: flex;
    width: fit-content;
    color:globalStyles.$light-blue;
    font-size: 20px;
}